.containerSearch
 {
    margin: 3%;
    padding: 4%;
    -webkit-box-shadow: 0px 0px 23px 1px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 23px 1px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 23px 1px rgba(219, 219, 219, 1);
    border-radius: 7px;
}
.example-spacer {
    flex: 1 1 auto;
}

h1{
    color: rgb(73, 73, 88);
}

p{
    color: rgb(48, 48, 56);
}

strong{
    color: rgb(68, 113, 139);

}
