<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
    ماذا تستطيع ان تفعل بهذا الموقع
    </h1>

    <p
      class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300"
    >
      غاية هذا الموقع هي صنع نظام عالم اسلامي من اجل ايجاد قائد واحد لكل عبيد الله من البشر من اجل تنظيمهم واعطائهم حقوقهم  كي ينفذوا غاية الله من خلقه وهي عبادة الله سبحانه و تعالى عن طريق اداء فرائضه واعمار ارضه.
      والغاية الاخرى هي ايجاد وزراء اكفاء من اجل تثبيت قرارت القائد الصائبة وردع قرارات القائد الخاطئة.
      الغاية الثالثة هي اقامة نظام اجتماعي من اجل التعارف بين الشعوب.
      بسم الله الرحمن الرحيم
      يَٰٓأَيُّهَا ٱلنَّاسُ إِنَّا خَلَقْنَٰكُم مِّن ذَكَرٍۢ وَأُنثَىٰ وَجَعَلْنَٰكُمْ شُعُوبًا وَقَبَآئِلَ لِتَعَارَفُوٓاْ ۚ إِنَّ أَكْرَمَكُمْ عِندَ ٱللَّهِ أَتْقَىٰكُمْ ۚ إِنَّ ٱللَّهَ عَلِيمٌ خَبِيرٌ
      صدق الله العظيم
    </p>
    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-2"
    ></div>
  </div>
</section>
